* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #faeab7;
}

body::-webkit-scrollbar {
    display: none;
}

.header-container {
    width: 100vh - 20px;
    background-color: #ffce01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3vw;

    .header-items {
        display: flex;

        h3 {
            margin-left: 3vw;
            margin-right: 3vw;
        }

        h3 a {
            color: black;
            text-decoration: none;
        }

        h3 a:hover,
        h3 a.active {
            text-decoration: underline;
        }
    }

    .logo {
        width: 120px;
        height: auto;
    }
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    img {
        margin-top: 2em;
        border-radius: 10%;
        width: 40%;
        height: auto;
    }

    .content-text-container {
        width: 50%;
        margin-right: 2em;

        h1 {
            margin-top: 0;
            margin-bottom: 1em;
            font-size: 2em;
            line-height: 1.2;
        }

        p {
            font-size: 1em;
            line-height: 1.5;
        }
    }
}

.attraction-admin-button {
    padding: 10px 20px;
    margin-bottom: 2vh;
    background-color: #9500b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.attraction-admin-button:hover {
    background-color: #3c0048;
}

.attractions {
    width: min-content;
    background-color: white;
    padding: 3vh;
    margin-left: 11vw;
    .attraction {
        display: flex;
        align-items: center;
        margin-bottom: 6vh;

        img {
            width: 400px;
            height: 400px;
            border-radius: 5%;
            transition: filter 0.3s ease;

            &:hover {
                cursor: pointer;
                filter: drop-shadow(10px 10px 10px #000000);
            }
        }

        .attraction-text {
            width: 400px;
            margin-left: 3vw;

            h1 {
                margin-bottom: 3vh;
                transition: filter 0.3s ease;

                &:hover {
                    cursor: pointer;
                    filter: drop-shadow(3px 3px 10px #000000);
                }
            }

            p {
                font-weight: 500;
            }
        }
    }
}

.opening-hours {
    font-family: Arial, sans-serif;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        color: #333;
        margin: 3vh;
    }

    button {
        padding: 10px 20px;
        background-color: #9500b3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #3c0048;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            border: 1px solid #ddd;
            padding: 2vh;
            text-align: center;
        }

        th {
            padding: 2vh;
            background-color: #4caf50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:nth-child(odd) {
            background-color: #f2f2f27d;
        }
    }
}

.edit-opening-hours {
    background-color: white;
    color: black;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    h1 {
        color: #3c0048;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    .btn {
        background-color: #9500b3;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #3c0048;
    }
}

.tickets {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;

    .ticket-prices {
        width: 45%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        font-size: 2.5vh;

        h1 {
            margin: 0 0 3vh 0;
        }

        p {
            margin-bottom: 1vh;
        }
    }

    .order {
        width: 45%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;

        h1 {
            margin: 0 0 3vh 0;
        }

        .email-order-container,
        .ticket-order-container {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="email"],
        input[type="number"] {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #ff0000;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #b30000;
        }

        .alert {
            margin-top: 20px;
            padding: 10px;
            text-align: center;
            border: 1px solid;
            border-radius: 3px;
        }
    }
}

.contact {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;

    h1 {
        text-align: center;
        color: #333;
        margin: 3vh;
    }

    p {
        text-align: center;
        color: #666;
    }

    form {
        background-color: #f9f9f9;
        padding: 20px;
        margin-top: 30px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
    }

    h2 {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 95%;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .alert {
        margin-top: 20px;
        padding: 10px;
        text-align: center;
        border: 1px solid;
        border-radius: 3px;
    }

    .alert-success {
        background-color: #ffffff;
        border-color: #c3e6cb;

        p {
            color: #155724;
        }
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    max-width: 400px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.attraction-info-container {
    display: flex;
    justify-content: center;
}

.attraction-info {
    width: 60%;
    text-align: center;
    color: white;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.accommodations {
    width: fit-content;
    background-color: white;
    padding: 3vh;
    margin-left: 11vw;
    display: flex;
    flex-direction: column;
    align-items: start;

    .alert {
        margin: 20px;
        padding: 10px;
        text-align: center;
        border: 1px solid;
        border-radius: 3px;
    }

    .accommodation-item {
        flex-basis: 100%;
        margin-bottom: 100px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        img {
            height: 40vh;
            width: 30vw;
        }

        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            input,
            button {
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

            button {
                background-color: #4caf50; /* Green */
                color: white;
                cursor: pointer;
            }

            button:hover {
                background-color: #45a049;
            }
        }
    }
}

.login-page {
    width: 60%;
    margin: 0 auto;
    margin-top: 3vh;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.login-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-page div {
    margin-bottom: 10px;
}

.login-page label {
    display: block;
    margin-bottom: 5px;
}

.login-page input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-page button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-page button:hover {
    background-color: #0056b3;
}

.dashboard-page {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;

    .alert {
        margin-top: 20px;
        padding: 10px;
        text-align: center;
        border: 1px solid;
        border-radius: 3px;
    }

    .alert-success {
        background-color: #ffffff;
        border-color: #c3e6cb;
        color: #155724;
    }
}

.user-list {
    background-color: #3c0048;
    color: white;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    margin-top: 3vh;

    button {
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 5vw;
    }

    .user-list-title-and-edit-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3vh;
    }

    .edit-user {
        background-color: #09ff00;
    }
    .edit-user:hover {
        background-color: #00b30c;
    }
    .delete-user {
        background-color: #ff0000;
    }
    .delete-user:hover {
        background-color: #b30000;
    }
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-edit-form {
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: #9500b3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #3c0048;
    }
}

.user-buttons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.user-list h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.welcome {
    text-align: center;
    margin-bottom: 6vh;
    flex-direction: column;

    h1 {
        margin: 3vh;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.change-password {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.change-password h3 {
    text-align: center;
    margin-bottom: 20px;
}

.change-password div {
    margin-bottom: 10px;
}

.change-password label {
    display: block;
    margin-bottom: 5px;
}

.change-password input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.change-password button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.change-password button:hover {
    background-color: #0056b3;
}

.error-container {
    padding-bottom: 1vh;
    li {
        color: red;
    }
}

.success-container {
    justify-content: center;
    padding-bottom: 1vh;
    li {
        color: green;
    }
}

.register-user {
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;

    h1,
    h3 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    div {
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.hidden {
    display: none;
}
