* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #faeab7;
}

body::-webkit-scrollbar {
    display: none;
}

.header-container {
    width: 100vh - 20px;
    background-color: #ffce01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3vw;

    .header-items {
        display: flex;

        h3 {
            margin-left: 3vw;
            margin-right: 3vw;
        }

        h3 a {
            color: black;
            text-decoration: none;
        }

        h3 a:hover,
        h3 a.active {
            text-decoration: underline;
        }
    }

    .logo {
        width: 120px;
        height: auto;
    }
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    img {
        margin-top: 2em;
        border-radius: 10%;
        width: 40%;
        height: auto;
    }

    .content-text-container {
        width: 50%;
        margin-right: 2em;

        h1 {
            margin-top: 0;
            margin-bottom: 1em;
            font-size: 2em;
            line-height: 1.2;
        }

        p {
            font-size: 1em;
            line-height: 1.5;
        }
    }
}

.attractions {
    width: min-content;
    background-color: white;
    padding: 3vh;
    margin-left: 11vw;
    .attraction {
        display: flex;
        align-items: center;
        margin-bottom: 6vh;

        img {
            width: 400px;
            height: 400px;
            border-radius: 5%;
        }

        .attraction-text {
            width: 400px;
            margin-left: 3vw;

            h1 {
                margin-bottom: 3vh;
            }

            p {
                font-weight: 500;
            }
        }
    }
}

.opening-hours {
    font-family: Arial, sans-serif;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        color: #333;
        margin: 3vh;
    }

    button {
        padding: 10px 20px;
        background-color: #9500b3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #3c0048;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            border: 1px solid #ddd;
            padding: 2vh;
            text-align: center;
        }

        th {
            padding: 2vh;
            background-color: #4caf50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:nth-child(odd) {
            background-color: #f2f2f27d;
        }
    }
}

.edit-opening-hours {
    background-color: white;
    color: black;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    h1 {
        color: #3c0048;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 95%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    .btn {
        background-color: #9500b3;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #3c0048;
    }
}

.tickets {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;

    .ticket-prices {
        width: 45%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        font-size: 2.5vh;

        h1 {
            margin: 0 0 3vh 0;
        }

        p {
            margin-bottom: 1vh;
        }
    }

    .order {
        width: 45%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;

        h1 {
            margin: 0 0 3vh 0;
        }

        .email-order-container,
        .ticket-order-container {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="email"],
        input[type="number"] {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #ff0000;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #b30000;
        }

        .alert {
            margin-top: 20px;
            padding: 10px;
            text-align: center;
            border: 1px solid;
            border-radius: 3px;
        }
    }
}

.contact {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;

    h1 {
        text-align: center;
        color: #333;
        margin: 3vh;
    }

    p {
        text-align: center;
        color: #666;
    }

    form {
        background-color: #f9f9f9;
        padding: 20px;
        margin-top: 30px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
    }

    h2 {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 95%;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.accommodations {
    width: fit-content;
    background-color: white;
    padding: 3vh;
    margin-left: 11vw;
    display: flex;
    flex-direction: column;
    align-items: start;

    .alert {
        margin: 20px;
        padding: 10px;
        text-align: center;
        border: 1px solid;
        border-radius: 3px;
    }

    .accommodation-item {
        flex-basis: 100%;
        margin-bottom: 100px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        img {
            height: 40vh;
            width: 30vw;
        }

        form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            input,
            button {
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

            button {
                background-color: #4caf50; /* Green */
                color: white;
                cursor: pointer;
            }

            button:hover {
                background-color: #45a049;
            }
        }
    }
}

.login-page {
    width: 60%;
    margin: 0 auto;
    margin-top: 3vh;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.login-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-page div {
    margin-bottom: 10px;
}

.login-page label {
    display: block;
    margin-bottom: 5px;
}

.login-page input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-page button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-page button:hover {
    background-color: #0056b3;
}

.dashboard-page {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.welcome {
    text-align: center;
    margin-bottom: 6vh;
    flex-direction: column;

    h1 {
        margin: 3vh;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.register-user {
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;

    h1,
    h3 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .error-container {
        padding-bottom: 1vh;
        li {
            color: red;
        }
    }

    .success-container {
        padding-bottom: 1vh;
        li {
            color: green;
        }
    }

    div {
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }
}
